* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

button,
a {
  cursor: pointer;
}

body {
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-blue);
}

:root {
  --light-blue: #3eadd8;
  --blue: #335c81;
  --dark-blue: #274060;
  --very-dark-blue: #1b2845;
  --very-dark-blue-op: ##1b28451c;
  --light-grayish-blue: #edeef3;
  --teal: #628395;
  --teal-hover: #496370;
  --border-gray: rgba(212, 212, 212, 0.253);
  --dark-moderate-blue-10: rgba(67, 91, 126, 0.1);
  --dark-moderate-blue-30: rgba(67, 91, 126, 0.3);
  --desaturated-blue: #8594be;
  --yellow: #ffc43d;
  --secondary-btn: #ade25d;
  --secondary-btn-hover: #c5ff6d;
  --gray: #a2a2a2;
  --white: #ffffff;
  --black: #000000;
  --black-10: rgba(0, 0, 0, 0.1);
  --black-20: rgba(0, 0, 0, 0.2);
  --black-60: rgba(0, 0, 0, 0.4);
}
